<p id="notice"><%= notice %></p>

<p>
  <strong>Pregunta1:</strong>
  <%= @encuestum.pregunta1 %>
</p>

<p>
  <strong>Pregunta2:</strong>
  <%= @encuestum.pregunta2 %>
</p>

<p>
  <strong>Pregunta3:</strong>
  <%= @encuestum.pregunta3 %>
</p>

<p>
  <strong>Pregunta4:</strong>
  <%= @encuestum.pregunta4 %>
</p>

<p>
  <strong>Pregunta5:</strong>
  <%= @encuestum.pregunta5 %>
</p>

<p>
  <strong>Pregunta6:</strong>
  <%= @encuestum.pregunta6 %>
</p>

<p>
  <strong>Pregunta7:</strong>
  <%= @encuestum.pregunta7 %>
</p>

<p>
  <strong>Pregunta8:</strong>
  <%= @encuestum.pregunta8 %>
</p>

<p>
  <strong>Pregunta9:</strong>
  <%= @encuestum.pregunta9 %>
</p>

<p>
  <strong>Pregunta10:</strong>
  <%= @encuestum.pregunta10 %>
</p>

<p>
  <strong>Pregunta11:</strong>
  <%= @encuestum.pregunta11 %>
</p>

<p>
  <strong>Pregunta12:</strong>
  <%= @encuestum.pregunta12 %>
</p>

<p>
  <strong>Pregunta13:</strong>
  <%= @encuestum.pregunta13 %>
</p>

<p>
  <strong>Recomendaciones:</strong>
  <%= @encuestum.recomendaciones %>
</p>

<p>
  <strong>Temas:</strong>
  <%= @encuestum.temas %>
</p>

<p>
  <strong>Comentarios:</strong>
  <%= @encuestum.comentarios %>
</p>

<%= link_to 'Edit', edit_encuestum_path(@encuestum) %> |
<%= link_to 'Back', encuesta_path %>
